<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
        <link rel="shortcut icon" href="<%= webpackConfig.output.publicPath %>favicon.ico">
        <link rel="stylesheet" href="<%= webpackConfig.output.publicPath %>bootstrap.min.css">
        <title>venue-scraper</title>
    </head>
    <body>
        <noscript>
            <strong>We're sorry but venue-scraper doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
        </noscript>
        <div id="app"></div>
        <!-- built files will be auto injected -->
    </body>
</html>
