<template>

	<div class="col-xs-12 col-sm-12">
        <div class="btn-group btn-group-toggle" id="venues" data-toggle="buttons">
            <label class="btn btn-primary" :class="{ active: selected == 'All Shows' }">
                <input type="radio" v-on:click="$emit( 'select-venue', 'All Shows' )"> All Shows
            </label>
            <label class="btn btn-primary" :class="{ active: selected == venue.name }" v-for="venue in venues" :key="venue.name">
                <input type="radio" v-on:click="$emit( 'select-venue', venue.name )"> {{ venue.name }}
            </label>
        </div>
    </div>

</template>

<script>

export default {
    name: 'Nav',
    props: {
        venues: Array,
        selected: String
    }
}

</script>

<style scoped>

#venues {
    position: fixed;
    z-index: 9999;
    left: 50%;
    transform: translateX(-50%);
}

</style>