<template>

    <main class="col-xs-12 col-sm-12 mt-5">
        <div class="row">
            <div class="col-md-12">
                <div class="input-group mb-3">
                    <input type="text" class="form-control form-control-lg" placeholder="Search..." v-model="query">
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Time</th>
                        <th>Venue</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(show, i) in selection" :key="i">
                        <td><a target="_blank" :href="show.link">{{ show.title }}</a></td>
                        <td>{{ show.date | normalizeDate }}</td>
                        <td>{{ show.venue }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>

</template>

<script>

import moment from 'moment'

export default {
    name: 'Table',
    props: {
        venue: String,
        shows: Array
    },
    data() {
        return {
            query: '',
        }
    },
    computed: {
        selection() {
            return this.shows.filter( show => {
                const title = show.title.toLowerCase()
                const query = this.query.toLowerCase()

                return title.includes( query )
            } ).sort( ( a, b ) => {
                return moment( a.date ).format( 'X' ) - moment( b.date ).format( 'X' )
            } )
        }
    },
    methods: {
        search( query ) {
            this.query = query
        }
    },
    filters: {
        normalizeDate( date ) {
            return moment( date ).format( 'ddd, MMM D, h:mm a' )
        }
    }
}

</script>

<style scoped>

main {
    padding-top: 1rem;
}

table thead th,
table td {
    border: none;
}

table thead {
    font-size: 17px;
}

table td:first-child {
    min-width: 400px;
}

table td:not(:first-child) {
    width: 20%;
    min-width: 170px;
}

table a:not(.btn) {
    transition: .25s;
}

a:hover {
    color: #df691a;
}

</style>
