<template>

    <div id="app" class="container">
        <div class="row">
            <Nav :venues="venues" :selected="this.selected" v-on:select-venue="select"/>
            <Table :venue="this.selected" :shows="selection"/>
        </div>
    </div>

</template>

<script>

import request from 'sync-request'

import Nav from '@/components/Nav.vue'
import Table from '@/components/Table.vue'

export default {
    name: 'App',
    components: {
        Nav,
        Table
    },
    data() {
        return {
            shows: [],
            selected: 'All Shows'
        }
    },
    computed: {
        selection() {
            if ( this.selected == 'All Shows' ) {
                return this.shows
            }

            return this.shows.filter( show => show.venue == this.selected )
        },
        venues() {
            return this.shows.reduce( ( a, show ) => {
                a.push( show.venue )
                return a
            }, [] ).filter( ( venue, i, self ) => {
                return self.indexOf( venue ) == i
            } ).reduce( ( a, venue ) => {
                a.push( { name: venue } )
                return a
            }, [] )
        }
    },
    methods: {
        select( venue ) {
            this.selected = venue
        },
        getShows() {
            const body = request( 'GET', '/.netlify/functions/shows' ).getBody()
            return JSON.parse( body )
        }
    },
    mounted() {
        this.shows = this.getShows()
    }
}

</script>

<style scoped>

</style>
